<div class="row">
  <div class="col-md-6">
    <div class="col-md-12">
      <div [ngClass]="alertBox.color" class="alert alert-dismissible fade show" (click)="gebruikerService.clearMessage()" *ngIf="alertBox">
        <p [innerHTML]="alertBox.message"></p>
      </div>
    </div>
    <div class="col-md-12" [hidden]="registreer">
      <h2>Login</h2>
      <form #f="ngForm">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" class="form-control" name="email" id="email"
          placeholder="E-mail"
          required
          pattern="\S+@\S+\.\S+"
          #email="ngModel"
          [(ngModel)]="loginData.email"
          />
        </div>
        <div class="form-group">
          <label for="wachtwoord">Wachtwoord:</label>
          <input type="password" class="form-control" name="wachtwoord" id="wachtwoord"
                 placeholder="Wachtwoord"
                 required
                 #password="ngModel"
                 [(ngModel)]="loginData.wachtwoord"
          />
        </div>
        <div class="form-group">
          <button type="button" [disabled]="f.invalid" class="btn myButton mr-2" (click)="emailLogin(f.value, f.valid)">Login</button>
          <button type="button" [disabled]="f.value.email == ''" class="btn myButton mr-2" (click)="gebruikerService.emailResetPassword(f.value.email)">Wachtwoord resetten</button>
          <button type="button" class="btn myButton mr-2" (click)="registreer=!registreer">Nog geen account ?</button>
        </div>
      </form>
    </div>
    <div class="col-md-12" [hidden]="!registreer">
      <h2>Registreren</h2>
      <form #registreerf="ngForm">
        <div class="form-group">
          <label for="registerEmail">E-mail:</label>
          <input type="email" class="form-control" name="registerEmail" id="registerEmail"
                 placeholder="E-mail"
                 required
                 pattern="\S+@\S+\.\S+"
                 #email="ngModel"
                 [(ngModel)]="loginData.email"
          />
        </div>
        <div class="form-group">
          <label for="registerWachtwoord">Wachtwoord:</label>
          <input type="password" class="form-control" name="registerWachtwoord" id="registerWachtwoord"
                 placeholder="Wachtwoord"
                 required
                 #password="ngModel"
                 [(ngModel)]="loginData.wachtwoord"
          />
        </div>
        <div class="form-group">
          <label for="registerWachtwoordConfirm">Bevestig wachtwoord:</label>
          <input type="password" class="form-control" name="registerWachtwoordConfirm" id="registerWachtwoordConfirm"
                 placeholder="Bevestig wachtwoord"
                 #passwordConfirm="ngModel"
                 [(ngModel)]="loginData.wachtwoordConfirm"
                 required
          />
        </div>
        <div class="form-group">
          <button type="button" [disabled]="registreerf.invalid || registreerf.value.wachtwoord !== registreerf.value.wachtwoordConfirm" class="btn myButton mr-2" (click)="emailSignUp(registreerf.value, registreerf.valid)">Registreren</button>
          <button type="button" class="btn myButton mr-2" (click)="registreer=!registreer">Heeft u al een account ?</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Social login</h2>
    <button type="button" class="btn btn-outline-primary btn-block backgroundWhite"
            (click)="gebruikerService.googleLogin()">
      <i class="fab fa-google"></i> Login met Google
    </button>
    <button type="button" class="btn btn-outline-secondary btn-block backgroundWhite"
            (click)="gebruikerService.facebookLogin()">
      <i class="fab fa-facebook"></i> Login met Facebook
    </button>
  </div>
</div>

